.input {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: var(--tgui--text_color);
    display: block;
    appearance: none;
    margin: 0;
    outline: 0;
    padding: 0;
    resize: none;
    text-overflow: ellipsis;
    width: 100%;
}

.label {
    background: var(--tgui--section_bg_color);
    border-radius: 12px;
    min-height: 48px;
    gap: 12px;
    padding: 12px 16px;
    align-items: center;
    display: flex;
    font-size: var(--tgui--text--font_size);
    line-height: var(--tgui--text--line_height);
    font-family: var(--tgui--font-family);
    text-align: left;
}

.labelError {
    box-shadow: 0 0 0 1.5px var(--tgui--destructive_text_color);
}

.labelDisabled {
    opacity: 0.8;
}
