.aside {
    display: flex;
    z-index: 10;
    height: 100vh;
    margin-right: 0 !important;
    margin-left: 0 !important;
    flex: 1 0 auto;
    touch-action: none;
    user-select: none;
    overflow: hidden;
    flex-direction: column;
    width: 305px;
    position: sticky;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
}

@media all and (max-width: 767px) {
    .aside {
        position: relative;
        height: fit-content;
        width: 100%;
    }
}
